/*广告走马灯*/
.notice-cont {
  position: relative;
  font-size: 28rpx;
  flex: 1;
  overflow: hidden;
  height: 40rpx;

  .notice_scroll {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    -webkit-animation: scoll 20s linear 1s infinite;
  }
}

/*侧边栏字体图标样式*/
.iconfont-s {
  margin-right: 5px;
  width: 24px;
  text-align: center;
  font-size: 18px;
  vertical-align: middle;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  // vertical-align: baseline;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
}

@keyframes scoll {
  from {
    transform: translate3d(0px, 0, 0);
  }

  to {
    transform: translate3d(-50%, 0, 0);
  }
}

/*去除滚动条*/
.delScrollBar::-webkit-scrollbar {
  display: none;
}

.c-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.c-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.items-center {
  display: flex;
  align-items: center;
}
